# Ignore virtual environment folder
myvenv/
energiesysteme
franks_test.py
.venv/
simuenv3127/
simu/
# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment configuration files
.env
*.env
diesel_network.py
